<div mat-dialog-title>
    <h2>File Form</h2>
</div> 
<form [formGroup]="FileForm" (ngSubmit)="onFormSubmit()" >
    <div mat-dialog-content class="content">
        
        <div class="row">
        
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Info..."formControlName="description">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                    <mat-option *ngFor="let val of document" [value]="val">{{val}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
       
        <div class="row">
            <input type="file" (change)="getFile($event)" formControlName="contenu"/><br/>
            <input type="button" (click)="submitData()" value="Upload Here!">

        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update':'Save'}}</button>
    </div>
</form>
