<div class="container-fluid bg-light position-relative shadow">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
        <a href="" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px">
            <i class="flaticon-043-teddy-bear"></i>
            <span class="text-primary">Elito</span>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav font-weight-bold mx-auto py-0">
                <a href="assets/kidkinder-1.0.0/index.html" class="nav-item nav-link active">Home</a>
                <a href="assets/kidkinder-1.0.0/about.html" class="nav-item nav-link">À propos</a>
                <a href="assets/kidkinder-1.0.0/class.html" class="nav-item nav-link">classes</a>
                <a href="assets/kidkinder-1.0.0/team.html" class="nav-item nav-link">Enseignantes</a>
                <a href="assets/kidkinder-1.0.0/gallery.html" class="nav-item nav-link">Galerie</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="assets/kidkinder-1.0.0/blog.html" class="dropdown-item">Blog Grid</a>
                        <a href="assets/kidkinder-1.0.0/single.html" class="dropdown-item">Détail du blog</a>
                    </div>
                </div>
                <a href="assets/kidkinder-1.0.0/contact.html" class="nav-item nav-link">Contact</a>
            </div>
            <a href="" class="btn btn-primary px-4">Join Class</a>
        </div>
    </nav>
</div>
<br><br>
<div class="container">
    <main>
        <section>
            <h2>Forget your password?</h2>
            <p>we can send you a reset link</p>
        </section>
        <div class="col-5">
            <input type="email" class="form-control" id="email" placeholder="enter your email" [(ngModel)]="email"
                required>
        </div><br>
        <button class="btn btn-warning" (click)="resetPassword(email)">Reset password</button>
    </main>
</div>