
<div class="container-fluid pt-5">
    <div class="container">
      
      <div class="row pb-3">
        <div class="col-lg-4 mb-4">
          <div class="card border-0 shadow-sm mb-2">
            <img class="card-img-top mb-2" src="assets/kidkinder-1.0.0/img/blog-1.jpg" alt="" />
            <div class="card-body bg-light text-center p-4">
              <h1 class="">Mensuel</h1>
              <div class="d-flex justify-content-center mb-3">
                <h2 class="">$29/mois</h2>
              </div>
              <p>
                Découvrez une nouvelle façon pratique et transparente de gérer la vie de votre enfant à la crèche
                Rejoignez-nous pour offrir à votre enfant une expérience enrichissante et sécurisée
              </p>
              <a href="/home1/form-factM" class="btn btn-primary px-4 mx-auto my-2">S'abonner</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card border-0 shadow-sm mb-2">
            <img class="card-img-top mb-2" src="assets/kidkinder-1.0.0/img/blog-2.jpg" alt="" />
            <div class="card-body bg-light text-center p-4">
                <h1 class="">Trimestriel</h1>
              <div class="d-flex justify-content-center mb-3">
                <h2 class="">$49/trimestre</h2>
              </div>
              <p>
                Découvrez une nouvelle façon pratique et transparente de gérer la vie de votre enfant à la crèche
                Rejoignez-nous pour offrir à votre enfant une expérience enrichissante et sécurisée
              </p>
              <a href="/home1/form-factT" class="btn btn-primary px-4 mx-auto my-2">S'abonner</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card border-0 shadow-sm mb-2">
            <img class="card-img-top mb-2" src="assets/kidkinder-1.0.0/img/blog-3.jpg" alt="" />
            <div class="card-body bg-light text-center p-4">
                <h1 class="">Annuel</h1>
              <div class="d-flex justify-content-center mb-3">
                <h2 class="">$99/année</h2>
              </div>
              <p>Découvrez une nouvelle façon pratique et transparente de gérer la vie de votre enfant à la crèche
                Rejoignez-nous pour offrir à votre enfant une expérience enrichissante et sécurisée</p>
              <a href="/home1/form-facture" class="btn btn-primary px-4 mx-auto my-2">S'abonner</a>

            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>
  <!-- Blog End -->
